body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Register Page Styles */
.eventhub-color{
  color:#002147;  
}

.eventhub-button {
  background-color:#002147;
  color:#ffff
}

.eventhub-button:hover {
  background-color:#ffff;
  color:#002147;
}